<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
  		<link rel="stylesheet" type="text/css" href="/stylesheets/LibrarySystem.css">
  		<!-- Bootstrap minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  		<title> Confirm Loan </title>

  		<script>
  			function loanItem(item){
  				//create loaned_out key value pair 
  				//make http call to update object 
  			}
  		</script>
	</head>

	<body>
		<div class="confirm_text">
			<h3>Item loaned out successfully</h3>
		</div>
		
		<a href="/librarysystem">Go back to home page</a>
	</body>
</html>